
*{margin:0; padding:0;}

body{
  font-family: 'Arial';
  margin: 0px;
}


.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.page-header {
  padding: 1%;
  background: white;
}

.page-header nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul{
display: flex;
width: auto;
margin-top: 0;
list-style-type: none;

}

.page-header ul li{
  margin-left: 60px; 
  }

.page-header ul li a {

  font-size: 16px;
  color: black;
  font-weight: bold;
    cursor: default;  
}


 a:hover {
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}


.page-main {

  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-height: 350px;
  background: #f1f1f152;
}




#profile {
  display: flex;
  flex-flow: column;
}

.profile-div{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content:space-around;
}

.profile-title{
  display: flex;
  flex-flow: row  ;

}
 

/* Proyects */
.proyects{
margin:5%;

}

.proyects ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

   
}


.proyects ul li{
  margin: 20px 0px 20px 0px;
  list-style-type: none;
}

.proyect-info{
  display: flex;
  flex-flow: column;  
}

.proyect-info div{
  margin: 15px;
}

.proyect-info div p {
  font-size: 15px

  
}

.proyect-info div  p span {
  margin:0px 5px 0px 5px;
}

.middle {
opacity: 0;
width: 415px;
height: 258px; 
transition: .5s ease;
position: relative;
top: -102%;
left: 0%;
background: #e5e5ef;
text-align: center;
}

.proyects-image:hover img {
  opacity: 0.3;
}

.proyects-image:hover .middle {
  opacity: 0.4;
}


.proyects-image img{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  }


.proyects-image{
margin: 10px 0px 10px 0px;
width: 415px;
height: 258px;  
}


/*Experiences*/



#experiences{
 display: flex;
 flex-flow: row;
 padding: 10px 10px 10px 10px

}



/*CONTACT*/
.email >div{
  margin: 10px 0px 10px 0px;
}

.email{
  padding: 0.5% 0% 0.5% 0%;
  display: flex;
  align-items: center;
  flex-flow: column;
  
}
.title-contact{
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-top: 4%;
}

.social{
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 5% 0% 1% 0%;
}

.icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.icons > li{

  padding:0px 45px 0px 45px;


}


input {
  padding: 15px;
  width: 402px;
  border: 1px solid #272525;
  font-size: small;
  
}
::placeholder { 
  font-size: 14px ;
  opacity: 1; 

}

textarea{
  padding: 15px;
  width: 402px;
  resize: vertical;
  font-size: small;
  border: 1px solid #272525;
}


.button-send{
  width: 434px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-size: small;
  
}


.errors{
  color: red;
  margin: 7px 0px 0px 0px;
  font-size: 14px;
}





/* Footer */

.page-footer {

display: flex;
align-items: center;
justify-content: space-between;
margin-right: 10px;
margin-left: 10px;
background: #f1f1f152;

}